<!DOCTYPE html>

<style>

h1
{
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
}
h2,h3
{
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
  text-align: left;
}


#RentalProfileBody
{
  background-color: #378BBE;
}
#RentalProfileD1
{
  /* width: 400px; */
  padding-top: 40px;
  height: 450px;
  width: 1450px;
  background-color: #005989;
  border-radius: 40px;
  margin: auto;
}

#RentalProfileD1_1
{
  color: white;
  width: 300px;
  height: 100px;
  margin-left: 570px ;
  /* text-align: center; */
  font-family: 'Trebuchet MS', sans-serif;
  /* background-color: rgb(216, 227, 216); */
}

#RentalProfileD1Logo
{
  margin-left: 550px ;
  width: 250px;
  height: 150px; 

}

#RentalProfileD1ProfileImage
{
  margin-left: 50px ;
  width: 150px;
  height: 150px; 
  border-radius: 100px;
  margin-left: 70px ;
  background-color: white;
}

#RentalProfileD1ProfileImageReal
{
  margin-left: 0px ;
  width: 155px;
  height: 150px; 
  border-radius: 120px;
  /* margin-left: 70px ; */
}

#RentalProfileD1_2
{
  color: white;
  height: 400;
  margin-left: 300px ;
  margin-top: -120px;
  font-family: 'Trebuchet MS', sans-serif;
}

#RentalProfileBookingList
{
  padding-top: 20px;
  height: 550px;
  width: 1450px;
  background-color: white;
  border-radius: 40px;
  overflow: auto;
  margin: auto;
}

#RentalProfileBookingList1
{
  background-color: #F2F7FC;
  height: 150px;
  width: 1450px;
  border-radius: 40px;
  margin: auto;
}

#RentalOwnerProfile
{
  margin-left: 800px ;
  margin-top: -150px;
}

#RentalOwnerProfile1
{
  margin-left: -10px ;
  width: 100px;
  height: 100px; 
  margin-top: 20px;
  border-radius: 120px;
}

#RentalItemImage
{
  padding: 20px;
  margin-left: 30px;
  color: black;
}

#RentalOwnerDetails
{
  font-size: 18px;
  margin-left: 170px;
  margin-top: -130px;
  font-family: 'Trebuchet MS', sans-serif;
}

#RentalItemImage1
{
  /* padding: 20px; */
  margin-left: 20px ;
  margin-top: -5px;
  width: 100px;
  height: 100px; 
  

}

#RentalOwnerDetails2
{
  font-size: 15px;
  margin-left: -100px;
  width: 300px;
  margin-top: -10px;
  font-family: 'Trebuchet MS', sans-serif;
}

#RentedItemPriceAndRating
{
  font-size: 20px;
  margin-left: 500px;
  width: 250px;
  margin-top: -100px;
  font-family: 'Trebuchet MS', sans-serif;

}

#RentedItemPriceAndRating1
{
  margin-top: 5px;
  height: 20px;
  width: 120px;
}

#RentedItemPriceAndRating2
{
  margin-top: -100px;
  margin-left: 50px;
  font-size: 15px;
  width: 15px;
  height: 15px;

}

/* #RatingSubmitButton
[
  
] */


#RentalProfilePersonalDetails
{
  padding: 100px;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 40px; 
  height: 150px;
  width: 1050px;
  background-color: white;
  border-radius: 40px;
  margin: auto;
}

#ButtonReturnNotic
{
  height: 60px;
  width: 300px;
  margin-left: 1050px;
  margin-top: -130px;
}

#ButtonReturnNotic1
{
  height: 40px;
  width: 200px;
  border-radius: 15px;
  margin-top: 10px;
  color: white;
  font-size: 15px;
  background-color: #378BBE;
  font-family: 'Trebuchet MS', sans-serif;

}

#ButtonReturnNotic2
{
  height: 40px;
  width: 150px;
  border-radius: 15px;
  margin-left: 25px;
  margin-top: 10px;
  color: white;
  font-size: 15px;
  background-color: #389375;
  font-family: 'Trebuchet MS', sans-serif;

}

#call_Icon
{
  height: 25px;
  width: 25px;
  margin-left: -20px;
}

label
{
  padding-left: 50px;
  font-family: 'Trebuchet MS', sans-serif;
}

input
{
  height: 25px;
  width: 300px;
  font-family: 'Trebuchet MS', sans-serif;
}

#ButtonSaveChangeDetail
{
  height: 60px;
  width: 300px;
  border-radius: 15px;
  margin-left: 100px;
  color: white;
  font-size: 20px;
  background-color: #378BBE;
  font-family: 'Trebuchet MS', sans-serif;
}

/* table, th, td {
  border: 1px solid black;
} */

/* th{
  text-align: right;
} */


</style>



<html>
  <body id = "RentalProfileBody">
    
    <div id = "RentalProfileD1">

      <img id = "RentalProfileD1Logo" src="344logo.png"> </img>

      <div id = "RentalProfileD1_1">
        <h1>EQS for borrower</h1>
      </div>

      <div id = "RentalProfileD1ProfileImage"> 
        <img  id = "RentalProfileD1ProfileImageReal" src="profileDemo2.png"> </img>
      </div>

      <div id = "RentalProfileD1_2">
        <h2>Welcome to your profile</h2>
        <h3>Nick Rutherford</h3>
      </div>
    </div>


    <h1>Booking List</h1>

    <div id = "RentalProfileBookingList">
      


      <div id = "RentalProfileBookingList1">
        <div>
            <table >
              <tr>
                <th>Hammer</th>
              </tr>
              <tr>
                <td><img  id = "RentalItemImage1" src="profileDemo2.png"> </img></td>
              </tr>
            </table>

            <!-- <h3 id = "RentalItemImage" > Hammer </h3>
            <img  id = "RentalItemImage1" src="profileDemo2.png"> </img> -->

            <table id = "RentalOwnerDetails">
              <tr>
                <th>Owner Name:</th>
                <td>Tomar khan</td>
              </tr>
              <tr>
                <th>Booked:</th>
                <td>12/3/2025</td>
              </tr>
              <tr>
                <th>Duration:</th>
                <td>1 Months 12 days</td>
              </tr>
              <tr>
                <th>Location:</th>
                <td>14 Thirroul Station St.</td>
              </tr>
            </table>
            <!-- <p id = "RentalOwnerDetails">
                Owner: Tomar Khan<br>
                Booked: 12/3/1025<br>
                Duration: 1 month 12 days<br>
                location: 14 Thirroul Station St.<br>
            </p>  -->

          <div id = "RentedItemPriceAndRating">

            <table >
              <tr>
                <th>Price: $20 per day</th>
              </tr>
              <tr>
                <th><img  id = "RentedItemPriceAndRating1" src="pngfind.com-rating-png-transparent-6687141.png"> </img></th>
              <tr>
              <tr>
                <td>Rate from 1 to 5 below</td>
              </tr>
              <tr>
                
                <td>
                  <input type="text" id="RentedItemPriceAndRating2" name="Email">
                  <button  id = "RatingSubmitButton" type="button">Submit</button>
                </td>
              </tr>

            </table>

            <!-- <p id = "RentedItemPriceAndRating">
              Price: $20 per day

              Rating:
              <img  id = "RentedItemPriceAndRating1" src="pngfind.com-rating-png-transparent-6687141.png"> </img>
              <label for="RentedItemPriceAndRating1" style="font-size: 15px; margin-left: -6px; ">Rate from 1 to 5 below:</label>
              <input type="text" id="RentedItemPriceAndRating2" name="Email">
            </p>  -->
          </div>

          <div id = "RentalOwnerProfile"> 
            
            <table >
              <tr>
                <td><img id = "RentalOwnerProfile1" src="profileDemo2.png" > </img> </td>
              </tr>

              <tr id = "RentalOwnerDetails2">
                <th>Owner<th>
              </tr>
          
              <tr id = "RentalOwnerDetails2">

                <td > Ram Prasad</td>
              </tr>

            </table>
            <!-- <img  id = "RentalOwnerProfile1"src="profileDemo2.png"> </img>

            <p id = "RentalOwnerDetails2"> Owner: Ram Parsad</p> -->
          </div>

          <div id = "ButtonReturnNotic">

            <table>
              <tr>
                <td> <button  id = "ButtonReturnNotic1" type="button">4 days left to return</button> </td>
              </tr>

              <tr>
                <td> 
                  <button  id = "ButtonReturnNotic2" type="📞 button">
                    <img id ="call_Icon" src="toppng.com-hone-number-phone-logo-in-white-1224x1223.png" > </img>
                    Contact
                  </button>
                </td>
              </tr>
            </table>
            


          </div>
        </div>
      </div>



      <div id = "RentalProfileBookingList1">
        <div>
            <table >
              <tr>
                <th>Hammer</th>
              </tr>
              <tr>
                <td><img  id = "RentalItemImage1" src="profileDemo2.png"> </img></td>
              </tr>
            </table>

            <!-- <h3 id = "RentalItemImage" > Hammer </h3>
            <img  id = "RentalItemImage1" src="profileDemo2.png"> </img> -->

            <table id = "RentalOwnerDetails">
              <tr>
                <th>Owner Name:</th>
                <td>Tomar khan</td>
              </tr>
              <tr>
                <th>Booked:</th>
                <td>12/3/2025</td>
              </tr>
              <tr>
                <th>Duration:</th>
                <td>1 Months 12 days</td>
              </tr>
              <tr>
                <th>Location:</th>
                <td>14 Thirroul Station St.</td>
              </tr>
            </table>
            <!-- <p id = "RentalOwnerDetails">
                Owner: Tomar Khan<br>
                Booked: 12/3/1025<br>
                Duration: 1 month 12 days<br>
                location: 14 Thirroul Station St.<br>
            </p>  -->

          <div id = "RentedItemPriceAndRating">

            <table >
              <tr>
                <th>Price: $20 per day</th>
              </tr>
              <tr>
                <th><img  id = "RentedItemPriceAndRating1" src="pngfind.com-rating-png-transparent-6687141.png"> </img></th>
              <tr>
              <tr>
                <td>Rate from 1 to 5 below</td>
              </tr>
              <tr>
                
                <td>
                  <input type="text" id="RentedItemPriceAndRating2" name="Email">
                  <button  id = "RatingSubmitButton" type="button">Submit</button>
                </td>
              </tr>

            </table>

            <!-- <p id = "RentedItemPriceAndRating">
              Price: $20 per day

              Rating:
              <img  id = "RentedItemPriceAndRating1" src="pngfind.com-rating-png-transparent-6687141.png"> </img>
              <label for="RentedItemPriceAndRating1" style="font-size: 15px; margin-left: -6px; ">Rate from 1 to 5 below:</label>
              <input type="text" id="RentedItemPriceAndRating2" name="Email">
            </p>  -->
          </div>

          <div id = "RentalOwnerProfile"> 
            
            <table >
              <tr>
                <td><img id = "RentalOwnerProfile1" src="profileDemo2.png" > </img> </td>
              </tr>

              <tr id = "RentalOwnerDetails2">
                <th>Owner<th>
              </tr>
          
              <tr id = "RentalOwnerDetails2">

                <td > Ram Prasad</td>
              </tr>

            </table>
            <!-- <img  id = "RentalOwnerProfile1"src="profileDemo2.png"> </img>

            <p id = "RentalOwnerDetails2"> Owner: Ram Parsad</p> -->
          </div>

          <div id = "ButtonReturnNotic">

            <table>
              <tr>
                <td> <button  id = "ButtonReturnNotic1" type="button">4 days left to return</button> </td>
              </tr>

              <tr>
                <td> 
                  <button  id = "ButtonReturnNotic2" type="📞 button">
                    <img id ="call_Icon" src="toppng.com-hone-number-phone-logo-in-white-1224x1223.png" > </img>
                    Contact
                  </button>
                </td>
              </tr>
            </table>
            


          </div>
        </div>
      </div>




      <div id = "RentalProfileBookingList1">
        <div>
            <table >
              <tr>
                <th>Hammer</th>
              </tr>
              <tr>
                <td><img  id = "RentalItemImage1" src="profileDemo2.png"> </img></td>
              </tr>
            </table>

            <!-- <h3 id = "RentalItemImage" > Hammer </h3>
            <img  id = "RentalItemImage1" src="profileDemo2.png"> </img> -->

            <table id = "RentalOwnerDetails">
              <tr>
                <th>Owner Name:</th>
                <td>Tomar khan</td>
              </tr>
              <tr>
                <th>Booked:</th>
                <td>12/3/2025</td>
              </tr>
              <tr>
                <th>Duration:</th>
                <td>1 Months 12 days</td>
              </tr>
              <tr>
                <th>Location:</th>
                <td>14 Thirroul Station St.</td>
              </tr>
            </table>
            <!-- <p id = "RentalOwnerDetails">
                Owner: Tomar Khan<br>
                Booked: 12/3/1025<br>
                Duration: 1 month 12 days<br>
                location: 14 Thirroul Station St.<br>
            </p>  -->

          <div id = "RentedItemPriceAndRating">

            <table >
              <tr>
                <th>Price: $20 per day</th>
              </tr>
              <tr>
                <th><img  id = "RentedItemPriceAndRating1" src="pngfind.com-rating-png-transparent-6687141.png"> </img></th>
              <tr>
              <tr>
                <td>Rate from 1 to 5 below</td>
              </tr>
              <tr>
                
                <td>
                  <input type="text" id="RentedItemPriceAndRating2" name="Email">
                  <button  id = "RatingSubmitButton" type="button">Submit</button>
                </td>
              </tr>

            </table>

            <!-- <p id = "RentedItemPriceAndRating">
              Price: $20 per day

              Rating:
              <img  id = "RentedItemPriceAndRating1" src="pngfind.com-rating-png-transparent-6687141.png"> </img>
              <label for="RentedItemPriceAndRating1" style="font-size: 15px; margin-left: -6px; ">Rate from 1 to 5 below:</label>
              <input type="text" id="RentedItemPriceAndRating2" name="Email">
            </p>  -->
          </div>

          <div id = "RentalOwnerProfile"> 
            
            <table >
              <tr>
                <td><img id = "RentalOwnerProfile1" src="profileDemo2.png" > </img> </td>
              </tr>

              <tr id = "RentalOwnerDetails2">
                <th>Owner<th>
              </tr>
          
              <tr id = "RentalOwnerDetails2">

                <td > Ram Prasad</td>
              </tr>

            </table>
            <!-- <img  id = "RentalOwnerProfile1"src="profileDemo2.png"> </img>

            <p id = "RentalOwnerDetails2"> Owner: Ram Parsad</p> -->
          </div>

          <div id = "ButtonReturnNotic">

            <table>
              <tr>
                <td> <button  id = "ButtonReturnNotic1" type="button">4 days left to return</button> </td>
              </tr>

              <tr>
                <td> 
                  <button  id = "ButtonReturnNotic2" type="📞 button">
                    <img id ="call_Icon" src="toppng.com-hone-number-phone-logo-in-white-1224x1223.png" > </img>
                    Contact
                  </button>
                </td>
              </tr>
            </table>
            


          </div>
        </div>
      </div>




      <div id = "RentalProfileBookingList1">
        <div>
            <table >
              <tr>
                <th>Hammer</th>
              </tr>
              <tr>
                <td><img  id = "RentalItemImage1" src="profileDemo2.png"> </img></td>
              </tr>
            </table>

            <!-- <h3 id = "RentalItemImage" > Hammer </h3>
            <img  id = "RentalItemImage1" src="profileDemo2.png"> </img> -->

            <table id = "RentalOwnerDetails">
              <tr>
                <th>Owner Name:</th>
                <td>Tomar khan</td>
              </tr>
              <tr>
                <th>Booked:</th>
                <td>12/3/2025</td>
              </tr>
              <tr>
                <th>Duration:</th>
                <td>1 Months 12 days</td>
              </tr>
              <tr>
                <th>Location:</th>
                <td>14 Thirroul Station St.</td>
              </tr>
            </table>
            <!-- <p id = "RentalOwnerDetails">
                Owner: Tomar Khan<br>
                Booked: 12/3/1025<br>
                Duration: 1 month 12 days<br>
                location: 14 Thirroul Station St.<br>
            </p>  -->

          <div id = "RentedItemPriceAndRating">

            <table >
              <tr>
                <th>Price: $20 per day</th>
              </tr>
              <tr>
                <th><img  id = "RentedItemPriceAndRating1" src="pngfind.com-rating-png-transparent-6687141.png"> </img></th>
              <tr>
              <tr>
                <td>Rate from 1 to 5 below</td>
              </tr>
              <tr>
                
                <td>
                  <input type="text" id="RentedItemPriceAndRating2" name="Email">
                  <button  id = "RatingSubmitButton" type="button">Submit</button>
                </td>
              </tr>

            </table>

            <!-- <p id = "RentedItemPriceAndRating">
              Price: $20 per day

              Rating:
              <img  id = "RentedItemPriceAndRating1" src="pngfind.com-rating-png-transparent-6687141.png"> </img>
              <label for="RentedItemPriceAndRating1" style="font-size: 15px; margin-left: -6px; ">Rate from 1 to 5 below:</label>
              <input type="text" id="RentedItemPriceAndRating2" name="Email">
            </p>  -->
          </div>

          <div id = "RentalOwnerProfile"> 
            
            <table >
              <tr>
                <td><img id = "RentalOwnerProfile1" src="profileDemo2.png" > </img> </td>
              </tr>

              <tr id = "RentalOwnerDetails2">
                <th>Owner<th>
              </tr>
          
              <tr id = "RentalOwnerDetails2">

                <td > Ram Prasad</td>
              </tr>

            </table>
            <!-- <img  id = "RentalOwnerProfile1"src="profileDemo2.png"> </img>

            <p id = "RentalOwnerDetails2"> Owner: Ram Parsad</p> -->
          </div>

          <div id = "ButtonReturnNotic">

            <table>
              <tr>
                <td> <button  id = "ButtonReturnNotic1" type="button">4 days left to return</button> </td>
              </tr>

              <tr>
                <td> 
                  <button  id = "ButtonReturnNotic2" type="📞 button">
                    <img id ="call_Icon" src="toppng.com-hone-number-phone-logo-in-white-1224x1223.png" > </img>
                    Contact
                  </button>
                </td>
              </tr>
            </table>
            


          </div>
        </div>
      </div>




      <div id = "RentalProfileBookingList1">
        <div>
            <table >
              <tr>
                <th>Hammer</th>
              </tr>
              <tr>
                <td><img  id = "RentalItemImage1" src="profileDemo2.png"> </img></td>
              </tr>
            </table>

            <!-- <h3 id = "RentalItemImage" > Hammer </h3>
            <img  id = "RentalItemImage1" src="profileDemo2.png"> </img> -->

            <table id = "RentalOwnerDetails">
              <tr>
                <th>Owner Name:</th>
                <td>Tomar khan</td>
              </tr>
              <tr>
                <th>Booked:</th>
                <td>12/3/2025</td>
              </tr>
              <tr>
                <th>Duration:</th>
                <td>1 Months 12 days</td>
              </tr>
              <tr>
                <th>Location:</th>
                <td>14 Thirroul Station St.</td>
              </tr>
            </table>
            <!-- <p id = "RentalOwnerDetails">
                Owner: Tomar Khan<br>
                Booked: 12/3/1025<br>
                Duration: 1 month 12 days<br>
                location: 14 Thirroul Station St.<br>
            </p>  -->

          <div id = "RentedItemPriceAndRating">

            <table >
              <tr>
                <th>Price: $20 per day</th>
              </tr>
              <tr>
                <th><img  id = "RentedItemPriceAndRating1" src="pngfind.com-rating-png-transparent-6687141.png"> </img></th>
              <tr>
              <tr>
                <td>Rate from 1 to 5 below</td>
              </tr>
              <tr>
                
                <td>
                  <input type="text" id="RentedItemPriceAndRating2" name="Email">
                  <button  id = "RatingSubmitButton" type="button">Submit</button>
                </td>
              </tr>

            </table>

            <!-- <p id = "RentedItemPriceAndRating">
              Price: $20 per day

              Rating:
              <img  id = "RentedItemPriceAndRating1" src="pngfind.com-rating-png-transparent-6687141.png"> </img>
              <label for="RentedItemPriceAndRating1" style="font-size: 15px; margin-left: -6px; ">Rate from 1 to 5 below:</label>
              <input type="text" id="RentedItemPriceAndRating2" name="Email">
            </p>  -->
          </div>

          <div id = "RentalOwnerProfile"> 
            
            <table >
              <tr>
                <td><img id = "RentalOwnerProfile1" src="profileDemo2.png" > </img> </td>
              </tr>

              <tr id = "RentalOwnerDetails2">
                <th>Owner<th>
              </tr>
          
              <tr id = "RentalOwnerDetails2">

                <td > Ram Prasad</td>
              </tr>

            </table>
            <!-- <img  id = "RentalOwnerProfile1"src="profileDemo2.png"> </img>

            <p id = "RentalOwnerDetails2"> Owner: Ram Parsad</p> -->
          </div>

          <div id = "ButtonReturnNotic">

            <table>
              <tr>
                <td> <button  id = "ButtonReturnNotic1" type="button">4 days left to return</button> </td>
              </tr>

              <tr>
                <td> 
                  <button  id = "ButtonReturnNotic2" type="📞 button">
                    <img id ="call_Icon" src="toppng.com-hone-number-phone-logo-in-white-1224x1223.png" > </img>
                    Contact
                  </button>
                </td>
              </tr>
            </table>
            


          </div>
        </div>
      </div>

    


      <div id = "RentalProfileBookingList1">
        <div>
            <table >
              <tr>
                <th>Hammer</th>
              </tr>
              <tr>
                <td><img  id = "RentalItemImage1" src="profileDemo2.png"> </img></td>
              </tr>
            </table>

            <!-- <h3 id = "RentalItemImage" > Hammer </h3>
            <img  id = "RentalItemImage1" src="profileDemo2.png"> </img> -->

            <table id = "RentalOwnerDetails">
              <tr>
                <th>Owner Name:</th>
                <td>Tomar khan</td>
              </tr>
              <tr>
                <th>Booked:</th>
                <td>12/3/2025</td>
              </tr>
              <tr>
                <th>Duration:</th>
                <td>1 Months 12 days</td>
              </tr>
              <tr>
                <th>Location:</th>
                <td>14 Thirroul Station St.</td>
              </tr>
            </table>
            <!-- <p id = "RentalOwnerDetails">
                Owner: Tomar Khan<br>
                Booked: 12/3/1025<br>
                Duration: 1 month 12 days<br>
                location: 14 Thirroul Station St.<br>
            </p>  -->

          <div id = "RentedItemPriceAndRating">

            <table >
              <tr>
                <th>Price: $20 per day</th>
              </tr>
              <tr>
                <th><img  id = "RentedItemPriceAndRating1" src="pngfind.com-rating-png-transparent-6687141.png"> </img></th>
              <tr>
              <tr>
                <td>Rate from 1 to 5 below</td>
              </tr>
              <tr>
                
                <td>
                  <input type="text" id="RentedItemPriceAndRating2" name="Email">
                  <button  id = "RatingSubmitButton" type="button">Submit</button>
                </td>
              </tr>

            </table>

            <!-- <p id = "RentedItemPriceAndRating">
              Price: $20 per day

              Rating:
              <img  id = "RentedItemPriceAndRating1" src="pngfind.com-rating-png-transparent-6687141.png"> </img>
              <label for="RentedItemPriceAndRating1" style="font-size: 15px; margin-left: -6px; ">Rate from 1 to 5 below:</label>
              <input type="text" id="RentedItemPriceAndRating2" name="Email">
            </p>  -->
          </div>

          <div id = "RentalOwnerProfile"> 
            
            <table >
              <tr>
                <td><img id = "RentalOwnerProfile1" src="profileDemo2.png" > </img> </td>
              </tr>

              <tr id = "RentalOwnerDetails2">
                <th>Owner<th>
              </tr>
          
              <tr id = "RentalOwnerDetails2">

                <td > Ram Prasad</td>
              </tr>

            </table>
            <!-- <img  id = "RentalOwnerProfile1"src="profileDemo2.png"> </img>

            <p id = "RentalOwnerDetails2"> Owner: Ram Parsad</p> -->
          </div>

          <div id = "ButtonReturnNotic">

            <table>
              <tr>
                <td> <button  id = "ButtonReturnNotic1" type="button">4 days left to return</button> </td>
              </tr>

              <tr>
                <td> 
                  <button  id = "ButtonReturnNotic2" type="📞 button">
                    <img id ="call_Icon" src="toppng.com-hone-number-phone-logo-in-white-1224x1223.png" > </img>
                    Contact
                  </button>
                </td>
              </tr>
            </table>
            


          </div>
        </div>
      </div>



      

    </div>

    <h1>Personal Detail</h1>
    <div id = "RentalProfilePersonalDetails">

      <div id ="PersonalDetailField">

        <label for="Uname">User name:</label>
        <input type="text" id="Uname" name="Uname">

        <label for="Gender">Gender:</label>
        <input type="Gender" id="Gender" name="Gender"><br><br>

        <label for="Email">Email:</label>
        <input type="Email" id="Email" name="Email">

        <label for="Contact">Contact:</label>
        <input type="Contact" id="Contact" name="Contact"><br><br>

        <label for="fname">Address:</label>
        <input type="Address" id="Address" name="Address">

        <label for="Password">Password:</label>
        <input type="Password" id="Password" name="Password"><br><br>

        <label for="DOB">DOB:</label>
        <input type="date" id="DOB" name="DOB">

        <button  id = "ButtonSaveChangeDetail" type="button">Save Change Detail!</button>

      </div>

    </div>

    <div>

    </div>




    <p>My first paragraph.</p>

  </body>
</html>
